{% extends 'base.html' %}

{% block content %}


<main id="main">

    <!-- ======= About Us Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>About Us</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>About Us</li>
          </ol>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= About Section ======= -->
    <section class="about" data-aos="fade-up">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="../static/assets/img/aboutpage.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h3>eTech Solution Ltd. </h3>
            <p class="font-italic text-justify">
              
                eTech Solution Ltd. started its journey in the year of 2012 with a mission to use the Information
                Technology as a main stream of communication and also to automate the regular business processes.
                eTech extended the services using Internet technologies to enable the fastest, easiest software
                experiences. eTech Solution mostly focused on banking security and solutions. eTech offer Automation
                testing and quality assurance. eTech also provide cyber security solution. eTech strive to provide
                with the best solutions which business system needs. As our client, eTech place great emphasis and
                focus on customer problems and goals. eTech offer strong and effective solutions for customers with
                an enduring impact. We think of ourselves as a long-term partner of our customers. At eTech, we have
                quality-minded staff, consisting of consultants, designers, developers and programmers, who have the
                abilities and experience to create successful solutions for customer needs. We are confident that
                our customers will be satisfied with our quality service. The focus of the whole team is to provide
                quality software solutions to industry, which helps top managers in decision-making. We enter into
                long-term affiliation with industry for business specific systems and infrastructure. Our vision is
                to deliver supreme values to our clients, with persistent performance to highest standards of
                quality & service.

                eTech Solution Ltd is IT Services Company that cost-effectively provides cutting-edge IT Services,
                focuses on developing innovative software solutions, offering management and testing services to its
                clients. eTech Solution meet requirements on time, with the highest quality and greatest efficiency
                and responsiveness, while staying within budget.

                eTech Solution provide customers with innovative and top class consulting, IT Solutions and
                Services, to help them achieve their business objectives, and ensure the participation of all
                stakeholders in a constructive and mutually advantageous relationship.
            </p>
            
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section class="facts section-bg" data-aos="fade-up">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">232</span>
            <p>Clients</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">521</span>
            <p>Projects</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">1,463</span>
            <p>Hours Of Support</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">15</span>
            <p>Hard Workers</p>
          </div>

        </div>

      </div>
    </section><!-- End Facts Section -->

    
    <!-- ======= Service Details Section ======= -->
    <section class="service-details">
        <div class="container">

            <div class="row">

                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card">
                        <div class="card-img">

                            <img src="../static/assets/img/service-details-1.jpg" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">Our Mission</a></h5>
                            <p class="card-text">E-Tech Solutions Ltd is IT Services Company that cost-effectively
                                provides cutting-edge IT Services, focuses on developing innovative software solutions,
                                offering management and testing services to its clients.</p>

                        </div>
                    </div>
                </div>

                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card">
                        <div class="card-img">
                            <img src="../static/assets/img/service-details-3.jpg" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">Our Vision</a></h5>
                            <p class="card-text">To be a leader in all our businesses adapting global standards,
                                ensuring customer delight and enabling employees to build careers</p>
                            
                        </div>
                    </div>

                </div>

                
                
            </div>

        </div>
    </section><!-- End Service Details Section -->

    
    </section><!-- End Ttstimonials Section -->

  </main><!-- End #main -->























{% endblock %}